---
# File: tasks/install_enterprise.yml
#       Vault Enterprise package installation tasks

- name: OS packages
  package:
    name: "{{ item }}"
    state: present
  with_items: "{{ vault_os_packages }}"
  tags: installation

- name: "[Enterprise] Check {{ role_path }}/files/{{ vault_enterprise_shasums }} (local)"
  stat:
    path: "{{ role_path }}/files/{{ vault_enterprise_shasums }}"
  become: false
  run_once: true
  register: vault_checksum
  delegate_to: 127.0.0.1

- name: "[Enterprise] Get SHA SUM from {{ role_path }}/files/{{ vault_enterprise_shasums }} (local)"
  shell: |
    set -o pipefail
    grep "{{ vault_enterprise_pkg }}" "{{ role_path }}/files/{{ vault_enterprise_shasums }}" | awk '{print $1}'
  args:
    executable: /bin/bash
  become: false
  run_once: true
  register: vault_sha256
  tags:
    - installation
    - skip_ansible_lint
  delegate_to: 127.0.0.1

- name: "[Enterprise] Check {{ role_path }}/files/{{ vault_enterprise_pkg }} (local)"
  stat:
    path: "{{ role_path }}/files/{{ vault_enterprise_pkg }}"
  become: false
  run_once: true
  register: vault_package
  delegate_to: 127.0.0.1

- name: "[Enterprise] Download vault version {{ vault_version }} (local)"
  get_url:
    url: "{{ vault_zip_url }}/{{ vault_enterprise_pkg }}"
    dest: "{{ role_path }}/files/{{ vault_enterprise_pkg }}"
    checksum: sha256:{{ vault_sha256.stdout }}
    timeout: 42
  become: false
  run_once: true
  tags: installation
  when: not vault_package.stat.exists | bool
  delegate_to: 127.0.0.1

- name: "[Enterprise] Unzip {{ role_path }}/files/{{ vault_enterprise_pkg }} (local)"
  unarchive:
    src: "{{ role_path }}/files/{{ vault_enterprise_pkg }}"
    dest: "{{ role_path }}/files/"
    creates: "{{ role_path }}/files/vault"
  become: false
  run_once: true
  tags: installation
  delegate_to: 127.0.0.1

- name: "[Enterprise] Install version {{ vault_version }}"
  copy:
    src: "{{ role_path }}/files/vault"
    dest: "{{ vault_bin_path }}"
    owner: "{{ vault_user }}"
    group: "{{ vault_group }}"
    mode: "0755"
  notify: Restart vault
  tags: installation

- name: "[Enterprise] Remove {{ role_path }}/files/vault"
  file:
    path: "{{ item }}"
    state: "absent"
  become: false
  with_fileglob: "{{ role_path }}/files/vault"
  run_once: true
  tags: installation
