---
port:
  tcp:8200:
    listening: true
service:
  vault.service:
    enabled: true
    running: true
user:
  vault:
    exists: true
    groups:
      - {{ vault_group | default('bin') }}
group:
  {{ vault_group | default('bin') }}:
    exists: true
process:
  vault:
    running: true
