backend "consul" {
  address = "127.0.0.1:8500"
  redirect_addr = "http://{{ vault_address }}:{{ vault_port }}"
  cluster_addr = "http://{{ vault_primary_node }}:{{ vault_port }}/"
  path = "vault"
}
