seal "pkcs11" {
  lib = "{{ vault_seal_lib }}"
{% if vault_softcard_enable %}
  token_label = "{{ vault_seal_token_label }}"
{% else %}
  slot = "{{ vault_seal_slot }}"
{% endif %}
  pin = "{{ vault_seal_pin }}"
  key_label = "{{ vault_seal_key_label }}"
{% if vault_seal_hmac_key_label != '' %}
  hmac_key_label = "{{ vault_seal_hmac_key_label }}"
{% endif %}
  generate_key = "{{ vault_seal_generate_key }}"
{% if vault_seal_key_mechanism != '' %}
  mechanism = "{{ vault_seal_key_mechanism }}"
{% endif %}
}
