cluster_name = "{{ vault_cluster_name }}"
max_lease_ttl = "{{ vault_max_lease_ttl }}"
default_lease_ttl = "{{ vault_default_lease_ttl }}"

listener "tcp" {
  address = "{{ vault_address }}:{{ vault_port }}"
  {% if not (vault_tls_disable | bool) -%}
    tls_cert_file = "{{ vault_tls_cert_file_dest }}"
    tls_key_file  = "{{ vault_tls_key_file_dest }}"
    tls_min_version  = "{{ vault_tls_min_version }}"
    {% if vault_tls_cipher_suites is defined and vault_tls_cipher_suites -%}
      tls_cipher_suites = "{{ vault_tls_cipher_suites}}"
    {% endif -%}
    tls_prefer_server_cipher_suites = "{{ vault_tls_prefer_server_cipher_suites }}"
  {% endif -%}
  tls_disable = "{{ vault_tls_disable | bool | lower }}"
}

{% include vault_backend with context %}

{% if vault_enterprise -%}
  ui = {{ vault_enterprise_ui | bool | lower }}
{% endif -%}
