cluster_name = "{{ vault_cluster_name }}"
max_lease_ttl = "{{ vault_max_lease_ttl }}"
default_lease_ttl = "{{ vault_default_lease_ttl }}"

disable_clustering = "{{ vault_cluster_disable }}"
cluster_addr = "{{ vault_cluster_addr }}"
api_addr = "{{ vault_api_addr }}"

listener "tcp" {
  address = "{{ vault_address }}:{{ vault_port }}"
  cluster_address = "{{ vault_cluster_address }}"
  {% if not (vault_tls_disable | bool) -%}
  tls_cert_file = "{{ vault_tls_config_path }}/{{ vault_tls_cert_file }}"
  tls_key_file = "{{ vault_tls_config_path }}/{{ vault_tls_key_file }}"
  tls_client_ca_file="{{ vault_tls_config_path }}/{{ vault_tls_ca_file }}"
  tls_min_version  = "{{ vault_tls_min_version }}"
  {% if vault_tls_cipher_suites is defined and vault_tls_cipher_suites -%}
  tls_cipher_suites = "{{ vault_tls_cipher_suites}}"
  {% endif -%}
  tls_prefer_server_cipher_suites = "{{ vault_tls_prefer_server_cipher_suites }}"
  {% if (vault_tls_require_and_verify_client_cert | bool) -%}
  tls_require_and_verify_client_cert = "{{ vault_tls_require_and_verify_client_cert | bool | lower}}"
  {% endif -%}
  {% if (vault_tls_disable_client_certs | bool) -%}
  tls_disable_client_certs = "{{ vault_tls_disable_client_certs | bool | lower}}"
  {% endif -%}
  {% endif -%}
  tls_disable = "{{ vault_tls_disable | bool | lower }}"
}

{% include vault_backend_consul with context %}

{% if vault_ui -%}
  ui = {{ vault_ui | bool | lower }}
{% endif -%}

{% if vault_enterprise_premium_hsm | bool -%}
  {% include vault_backend_seal with context %}
{% endif -%}
