cluster_name = "{{ vault_cluster_name }}"
max_lease_ttl = "{{ vault_max_lease_ttl }}"
default_lease_ttl = "{{ vault_default_lease_ttl }}"

disable_clustering = "{{ vault_cluster_disable }}"
cluster_addr = "{{ vault_cluster_addr }}"
api_addr = "{{ vault_api_addr }}"

plugin_directory = "{{ vault_plugin_path }}"

listener "tcp" {
  address = "{{ vault_address }}:{{ vault_port }}"
  cluster_address = "{{ vault_cluster_address }}"
  {% if not (vault_tls_disable | bool) -%}
  tls_cert_file = "{{ vault_tls_config_path }}/{{ vault_tls_cert_file }}"
  tls_key_file = "{{ vault_tls_config_path }}/{{ vault_tls_key_file }}"
  tls_client_ca_file="{{ vault_tls_config_path }}/{{ vault_tls_ca_file }}"
  tls_min_version  = "{{ vault_tls_min_version }}"
  {% if vault_tls_cipher_suites is defined and vault_tls_cipher_suites -%}
  tls_cipher_suites = "{{ vault_tls_cipher_suites}}"
  {% endif -%}
  tls_prefer_server_cipher_suites = "{{ vault_tls_prefer_server_cipher_suites }}"
  {% if (vault_tls_require_and_verify_client_cert | bool) -%}
  tls_require_and_verify_client_cert = "{{ vault_tls_require_and_verify_client_cert | bool | lower}}"
  {% endif -%}
  {% if (vault_tls_disable_client_certs | bool) -%}
  tls_disable_client_certs = "{{ vault_tls_disable_client_certs | bool | lower}}"
  {% endif -%}
  {% endif -%}
  tls_disable = "{{ vault_tls_disable | bool | lower }}"
}

{#
  Select which storage backend you want generated and placed
  in the vault configuration file.
#}
{% if vault_backend == 'consul' -%}
  {% include vault_backend_consul with context -%}
{% elif vault_backend == 'etcd' -%}
  {% include vault_backend_etcd with context -%}
{% elif vault_backend == 'file' -%}
  {% include vault_backend_file with context -%}
{% elif vault_backend == 's3' -%}
  {% include vault_backend_s3 with context -%}
{% elif vault_backend == 'dynamodb' -%}
  {% include vault_backend_dynamodb with context -%}
{% elif vault_backend == 'mysql' -%}
  {% include vault_backend_mysql with context -%}
{% endif %}

{% if vault_ui -%}
ui = {{ vault_ui | bool | lower }}
{% endif -%}

{% if vault_enterprise_premium_hsm | bool -%}
  {% include vault_backend_seal with context %}
{% endif -%}

{% if vault_gkms | bool -%}
  {% include vault_backend_gkms with context %}
{% endif -%}

{% if vault_awskms | bool %}
  {% include vault_awskms_backend with context %}
{% endif -%}

{% if vault_azurekeyvault | bool %}
  {% include vault_azurekeyvault_backend with context %}
{% endif -%}

{% if vault_telemetry_enabled | bool -%}
telemetry {
  {% if vault_statsite_address is defined %}
  statsite_address = "{{vault_statsite_address}}"
  {% endif -%}
  {% if vault_statsd_address is defined %}
  statsd_address = "{{vault_statsd_address}}"
  {% endif -%}
  {% if vault_telemetry_disable_hostname is defined %}
  disable_hostname = {{vault_telemetry_disable_hostname | bool | lower }}
  {% endif -%}
}
{% endif -%}
