{% set _vault_plus_one_port = vault_port | int + 1 -%}

backend "consul" {
  address = "{{ vault_consul }}"
  datacenter = "{{ vault_datacenter }}"
  path = "{{ vault_consul_path }}"
  service = "{{ vault_consul_service }}"
  cluster_addr = "{{vault_protocol}}://{{ vault_cluster_address }}:{{ _vault_plus_one_port }}"
  redirect_addr = "{{vault_protocol}}://{{ vault_redirect_address }}:{{ vault_port }}"
  disable_clustering = "{{ vault_cluster_disable }}"
  {% if vault_consul_token is defined and vault_consul_token %}
    token = "{{ vault_consul_token }}"
  {% endif %}
}
