---
name: Ansible Lint
on:
  push:
    tags_ignore:
      - '*'
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
        with:
          args: "-r molecule/requirements.yml"
